<section>
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-3">
                <ul class="sidebar">
                    <li><a routerLink="one">How Does a Fixed Deposit Work? Is it safe to invest in a Fixed Deposit?                </a></li>
                    <li> <a routerLink="two">6 Things to know before investing in an FD instead of RD! </a></li>
                    <li> <a routerLink="three">Earn Up to 10.71%*p.a. Effective Yield with Shriram Cumulative FD Now  </a></li>
                    <li> <a routerLink="four">How Do Fixed Deposits help to keep the Indian Economy stable during volatility                </a></li>
                    <li> <a routerLink="five">Fixed Deposit Investing: 9 Important Things You Should Know Before Investing in FD
                    </a></li>
                    <li> <a routerLink="six"> Fixed Deposit vs Life Insurance: Which is the Better Investment? 
                    </a></li>
                </ul>
            </div>

        </div>
    </div>
</section>